* {
  font-family: Nunito Sans;
}

.label {
  color: rgb(125, 133, 146);
  font-weight: 700;
  font-size: 14px;
  font-family: Nunito Sans;
}

.input {
  border: 1px solid rgb(216, 224, 240);
  border-radius: 14px;
  padding: 11px 0px 11px 18px;
  color: rgb(125, 133, 146);
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: rgb(125, 133, 146);
  font-size: 14px;
  font-weight: 400;
  font-family: Nunito Sans;
}

.input:focus {
  outline: none;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 403px;
}

.select-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgb(216, 224, 240);
  background-color: white;
  border-radius: 14px;
  color: rgb(125, 133, 146);
  font-size: 14px;
  font-weight: 400;
  padding: 11px 40px 11px 18px;
  width: 100%;
}

.select-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-input::placeholder {
  color: rgb(125, 133, 146);
  font-size: 14px;
  font-weight: 400;
  font-family: Nunito Sans;
}

.select-input:focus {
  outline: none;
}
