* {
  font-family: Nunito Sans;
}

.brand-title {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 30px;
}

.desc {
  font-family: Nunito Sans;
  font-weight: 700;
}

.sign-in-title {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 22px;
  color: rgb(10, 22, 41);
}
